
HemaTournamentWebSite/bin/app.publish/

HemaTournamentWebSite/bin/

HemaTournamentWebSite/obj/Debug/

HemaTournamentWebSite/obj/Release/Package/PackageTmp/

HemaTournamentWebSite/obj/Release/
.vs/HemaTournamentWebSite/v16/.suo
.vs/HemaTournamentWebSite/config/applicationhost.config
