
HemaTournamentWebSite/bin/app.publish/

HemaTournamentWebSite/bin/

HemaTournamentWebSite/obj/Debug/

HemaTournamentWebSite/obj/Release/Package/PackageTmp/

HemaTournamentWebSite/obj/Release/
.vs/HemaTournamentWebSite/v16/.suo
.vs/HemaTournamentWebSite/config/applicationhost.config
.vs/HemaTournamentWebSite/v17/DocumentLayout.backup.json
.vs/HemaTournamentWebSite/FileContentIndex/b26b6fda-2de0-4451-ba50-af59fe7c3556.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/c154c8c7-5d65-4b39-8e96-d2ee6ff08e88.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/442a4660-c86f-40c7-9683-b0fb8f51ee9f.vsidx
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
