
HemaTournamentWebSite/bin/app.publish/

HemaTournamentWebSite/bin/

HemaTournamentWebSite/obj/Debug/

HemaTournamentWebSite/obj/Release/Package/PackageTmp/

HemaTournamentWebSite/obj/Release/
.vs/HemaTournamentWebSite/v16/.suo
.vs/HemaTournamentWebSite/config/applicationhost.config
.vs/HemaTournamentWebSite/v17/DocumentLayout.backup.json
.vs/HemaTournamentWebSite/FileContentIndex/b26b6fda-2de0-4451-ba50-af59fe7c3556.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/c154c8c7-5d65-4b39-8e96-d2ee6ff08e88.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/442a4660-c86f-40c7-9683-b0fb8f51ee9f.vsidx
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/FileContentIndex/24d7ec76-5477-4457-981a-bbc36e857de9.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/2eb4cfb7-75e8-4084-818a-f5b5cca9da45.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/57960837-6b83-4118-a8cb-e48f8c6e2ff5.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/6afa765a-7929-4bf8-b40c-c19d5a05f4b9.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/c78c8cb4-dffc-4124-8356-23f3ef41ec70.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/4dfd9960-e24c-4ca9-a614-f112f3d5425f.vsidx
.vs/HemaTournamentWebSite/FileContentIndex/8b8e1b1f-04cb-4bdc-a481-537b158a9290.vsidx
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
/.vs
/.vs
/.vs
/.vs
/HemaTournamentWebSiteBLL/obj
.vs/HemaTournamentWebSite/v17/.suo
.vs/HemaTournamentWebSite/v17/DocumentLayout.json
/HemaTournamentWebSiteBLL/obj
/.vs/HemaTournamentWebSite/v17
/.vs/HemaTournamentWebSite/v17
